<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">JWT Example</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div *ngIf="isLogged" class="navbar-nav ml-auto">
      <a class="nav-item nav-link">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
    <div *ngIf="!isLogged" class="navbar-nav ml-auto">
        <a class="nav-item nav-link">Home <span class="sr-only">(current)</span></a>
      </div>
  </div>
  </div>
</nav>